host: https://bugs.topicus.nl
username: USERNAME
password: PASWORD
project_id: NUMERIC_PROJECT_ID

http:
  port: 7070

http:
  rootPath: /service/*  # Default is /*

# Logging settings.
logging:

  # The default level of all loggers. Can be OFF, ERROR, WARN, INFO, DEBUG, TRACE, or ALL.
  level: INFO
